name: Build Ubuntu

env:
  Configuration: Release

on:
  push:
    branches: [master, develop]

jobs:        
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '6.8.2'
          host: 'linux'
          target: 'desktop'
          arch: 'linux_gcc_64'
          modules: 'qtimageformats'
          cache: true
          
      - name: Build Arsenic 
        run:  |
          ./build.sh
