name: ActionsCI

env:
  Configuration: Release

on:
  push:
    branches: [master, develop]

jobs:
  build-windows-qt68:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '[17,18)'  # 17.xx
        msbuild-architecture: x64
        
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.8.2
        host:         windows
        target:       desktop
        modules:      qtmultimedia
        setup-python: false

    - name: build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        cmake -S . -B build -G "Ninja Multi-Config"
        cmake --build build --config Release
        
    - name: deploy
      run:  |
        windeployqt.exe --no-compiler-runtime --release build/src/Release/arsenic.exe
        
    - name: cleaning
      shell: cmd
      run:  |
        xcopy ${{ github.workspace }}\README.md build\src\Release
        rmdir /s /q build\src\Release\generic
        rmdir /s /q build\src\Release\networkinformation
        rmdir /s /q build\src\Release\translations
        rmdir /s /q build\src\Release\tls
        rmdir /s /q build\src\Release\styles
        rmdir /s /q build\src\Release\iconengines
        del /F build\src\Release\imageformats\qgif.dll
        del /F build\src\Release\imageformats\qico.dll
        del /F build\src\Release\imageformats\qjpeg.dll
        mkdir build\src\Release\languages
        xcopy build\share\translations\arsenic_en_US.qm build\src\Release\languages
        xcopy build\share\translations\arsenic_fr_FR.qm build\src\Release\languages
        del /F build\src\Release\botan_test.lib
        del /F build\src\Release\Qt6Network.dll
        del /F build\src\Release\D3Dcompiler_47.dll
        del /F build\src\Release\opengl32sw.dll

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: arsenic.zip
        path: build/src/Release
        
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '6.8.2'
          host: 'linux'
          target: 'desktop'
          arch: 'linux_gcc_64'
          modules: 'qtimageformats'
          cache: true

      - name: Install Botan3 
        run:  |
          sudo apt-get install
          wget https://botan.randombit.net/releases/Botan-3.7.1.tar.xz
          tar -xvf Botan-3.7.1.tar.xz
          cd Botan-3.7.1
          ./configure.py --minimized-build --enable-modules=adler32, aead, aes, aes_ni, argon2, argon2_ssse3, argon2fmt, auto_rng, rng, system_rng, pem, sodium, sha1, sha1_armv8, sha1_sse2, sha1_x86, sha2_32, sha2_32_armv8, sha2_32_bmi2, sha2_32_x86, sha2_64, sha2_64_armv8, sha2_64_bmi2, sha3, skein, keccak, keccak_perm, keccak_perm_bmi2, whirlpool, blake2, blake2mac, blake2s, shake, gost_28147, gost_3410, gost_3411, sm2, sm3, sm4, threefish_512, twofish, streebog, rmd160, md4, md5, crc24, crc32, chacha, chacha20poly1305, chacha_rng, serpent, ctr, eax, gcm, siv
          make
          sudo make install
        
