name: ActionsCI

env:
  Platform: #Any CPU|Win32|x64
  Configuration: Release
  Artifacts: build/Release/

on:
  push:
    branches: [master, develop]

jobs:
  build-windows-qt68:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.8.2
        host:         windows
        target:       desktop
        arch:        win64_mingw
        modules:      qtmultimedia
        setup-python: false
    - name: build
      shell: cmd
      run: |
        export CMAKE_PREFIX_PATH="$Qt6_Dir/lib/cmake"
        cmake -B./build -S. ${{ github.workspace }} -G "Ninja"
        cmake --build ./build --config ${{env.Configuration}}
    - name: deploy
      run: windeployqt.exe build\src\Release\arsenic.exe
    - name: Compress artifacts
      uses: vimtor/action-zip@v1.1
      with:
        files: build\src\Release
        dest: "build/arsenic.zip"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: arsenic.zip
        path: build\src\Release

