name: ActionsCI

env:
  Platform: #Any CPU|Win32|x64
  Configuration: Release
  Artifacts: build/Release/

on:
  push:
    branches: [master, develop]

jobs:
  build-windows-qt68:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.8.2
        host:         windows
        target:       desktop
        arch:        win64_mingw
        modules:      qtmultimedia
        setup-python: false
        
    - name: Add Qt to Path
      run: echo "${{ env.QT_PATH }}\\bin" >> $GITHUB_PATH
          
    - name: Add MinGW to Path
      run: echo "${{ env.MINGW_PATH }}\\bin" >> $GITHUB_PATH
          
    - name: Configure CMake
      run: cmake -G "MinGW Makefiles" -S . -B build
          
    - name: Build
      run: cmake --build build --config Release
         
    - name: deploy
      run: windeployqt.exe build\src\Release\arsenic.exe
    - name: Compress artifacts
      uses: vimtor/action-zip@v1.1
      with:
        files: build\src\Release
        dest: "build/arsenic.zip"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: arsenic.zip
        path: build\src\Release

